---
http_interactions:
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/allocate
    body:
      encoding: UTF-8
      string: '{"cardSetId":"FollTest01"}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cardNumber":"483163540696822","pin":"0795","success":true,"requestRef":"edaf792c-3fcf-41e2-8878-1175843e14db"}'
  recorded_at: Thu, 02 Feb 2017 15:00:18 GMT
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/updateBalance
    body:
      encoding: UTF-8
      string: '{"cardNumber":"483163540696822","action":"issue","redeemFromHoldTransactionId":null,"isReturnRelated":false,"amount":{"balanceType":"Currency","balanceCode":"USD","amount":10.99}}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionId":"54856002","cardNumber":"483163540696822","didOverdraw":false,"success":true,"requestRef":"9960a8b1-e50d-43d5-9716-f82cfae35c59"}'
  recorded_at: Thu, 02 Feb 2017 15:00:19 GMT
recorded_with: VCR 3.0.3
