---
http_interactions:
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/search
    body:
      encoding: UTF-8
      string: '{"filters":{"cardNumber":483140395030281},"returnFields":{},"forcePinValidation":true,"pin":0}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errorMessage":"Invalid card PIN.","errorCode":10,"requestRef":"da52e70d-af26-428b-899a-632491498c42","success":false}'
  recorded_at: Wed, 08 Feb 2017 11:12:35 GMT
recorded_with: VCR 3.0.3
