---
http_interactions:
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/allocate
    body:
      encoding: UTF-8
      string: '{"cardSetId":"FollTest01"}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cardNumber":"483147153633487","pin":"6957","success":true,"requestRef":"9d091791-56a4-42ee-af30-bec4836a2555"}'
  recorded_at: Thu, 02 Feb 2017 15:00:20 GMT
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/updateBalance
    body:
      encoding: UTF-8
      string: '{"cardNumber":"483147153633487","action":"issue","redeemFromHoldTransactionId":null,"isReturnRelated":false,"amount":{"balanceType":"Currency","balanceCode":"USD","amount":10.99}}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionId":"54856004","cardNumber":"483147153633487","didOverdraw":false,"success":true,"requestRef":"b7ce6aea-a1ac-4e27-b261-5318dbf0ea52"}'
  recorded_at: Thu, 02 Feb 2017 15:00:21 GMT
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/updateBalance
    body:
      encoding: UTF-8
      string: '{"cardNumber":"483147153633487","action":"redeem","redeemFromHoldTransactionId":null,"isReturnRelated":false,"amount":{"balanceType":"Currency","balanceCode":"USD","amount":4.99}}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transactionId":"54856005","cardNumber":"483147153633487","didOverdraw":false,"success":true,"requestRef":"61b4c3de-5c5a-41b3-bd01-913d97d244d0"}'
  recorded_at: Thu, 02 Feb 2017 15:00:21 GMT
recorded_with: VCR 3.0.3
