---
http_interactions:
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/allocate
    body:
      encoding: UTF-8
      string: '{"cardSetId":"FollTest01"}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cardNumber":"483140395030281","pin":"8422","success":true,"requestRef":"7c4b183f-646e-4a2a-ab12-0ff07174d4c7"}'
  recorded_at: Thu, 02 Feb 2017 15:00:16 GMT
recorded_with: VCR 3.0.3
