---
http_interactions:
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/updateBalance
    body:
      encoding: UTF-8
      string: '{"cardNumber":"","action":"redeem","redeemFromHoldTransactionId":null,"isReturnRelated":false,"amount":{"balanceType":"Currency","balanceCode":"USD","amount":10}}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errorMessage":"No card number was specified.","errorCode":6,"requestRef":"33b8f921-9f05-4f36-8923-f30b9d91d414","success":false}'
  recorded_at: Thu, 02 Feb 2017 15:00:22 GMT
recorded_with: VCR 3.0.3
