---
http_interactions:
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/search
    body:
      encoding: UTF-8
      string: '{"filters":{"cardNumber":483109705813926},"returnFields":{}}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cards":[{"cardNumber":"483109705813926","cardSetId":"FollTest01"}],"usedCache":false,"success":true,"requestRef":"20c1792e-aebf-4a52-8e38-1f896512f918"}'
  recorded_at: Thu, 02 Feb 2017 16:21:56 GMT
recorded_with: VCR 3.0.3
