---
http_interactions:
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/search
    body:
      encoding: UTF-8
      string: '{"filters":{"cardNumber":483140395030281},"returnFields":{},"forcePinValidation":true,"pin":8422}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cards":[{"cardNumber":"483140395030281","cardSetId":"FollTest01"}],"usedCache":false,"success":true,"requestRef":"e566704d-e082-41a0-936c-f13f7378b069"}'
  recorded_at: Wed, 08 Feb 2017 11:12:35 GMT
recorded_with: VCR 3.0.3
