---
http_interactions:
- request:
    method: post
    uri: https://api-test.profitpointinc.com:9002/search
    body:
      encoding: UTF-8
      string: '{"filters":{"cardNumber":4831403},"returnFields":{},"forcePinValidation":true,"pin":8422}'
    headers:
      Authorization:
      - "<SECRET>"
      Brand:
      - FOLLAIN
      Location:
      - FOLL999
      Terminal:
      - follain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cards":[],"usedCache":false,"success":true,"requestRef":"658c2937-a236-4898-b84a-886ca827541b"}'
  recorded_at: Wed, 08 Feb 2017 11:12:36 GMT
recorded_with: VCR 3.0.3
